@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   /* todo: handle light mode */
   --bb-gray: #181e24;
   --bb-gray-900: #262f37;
   --bb-gray-800: #333f4b;
   --bb-gray-700: #404f5e;
   --bb-gray-600: #4d5f71;
   --bb-gray-500: #5a6f84;
   --bb-gray-400: #677f97;
   --bb-gray-300: #798fa4;
   --bb-gray-200: #8d9fb1;
   --bb-gray-100: #a0afbe;
   --bb-gray-50: #b3bfcb;
   --bb-gray-25: #c6cfd8;
   --bb-gray-10: #d9dfe5;
   --bb-gray-0: #eceff2;
   --bb-white: #ffffff;

   --bb-teal: #33ced8;
   --bb-yellow: #f0be72;
   --bb-blue: #499bfc;

   --bb-jade: #60af73;
   --bb-jade-900: #76ba86;
   --bb-jade-800: #8dc69a;
   --bb-jade-700: #a4d1ae;
   --bb-jade-600: #bbddc3;
   --bb-jade-500: #d1e8d7;
   --bb-jade-400: #e8f4eb;

   --bb-red: #d95468;

   --background: var(--bb-white);
   --foreground: var(--bb-gray);
}

@media (prefers-color-scheme: dark) {
   :root {
      --background: var(--bb-gray);
      --foreground: #a0b3c6;
   }
}

body {
   color: var(--foreground);
   background: var(--background);
   font-family: var(--font-roboto-mono), var(--font-roboto-sans), Arial,
      Helvetica, sans-serif;
}

body:has(.translate-y-0),
body:has(.translate-x-0) {
   overflow: hidden;
}

.hover-delay {
   @apply lg:transition-all lg:duration-500 lg:ease-in-out;
}

.hover-brightness {
   @apply lg:hover:brightness-125;
}

.hover-scale {
   @apply lg:hover:scale-110;
}
